* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.grid {
    width: 80%;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: calc(100%/8);
    height: calc(100%/8);
    border: 1px solid black;
}